<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.knufficast">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".ui.main.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.feed.FeedDetailActivity"
            android:label="@string/title_activity_feed_detail" >
        </activity>
        <activity
            android:name=".ui.episode.EpisodeDetailActivity"
            android:label="@string/title_activity_episode_detail" >
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="knufficastoauth" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <category android:name="android.intent.category.PREFERENCE" />
        </activity>
        <activity
            android:name=".ui.search.SearchFeedActivity"
            android:label="@string/title_activity_feed_search" >
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW"
                    android:label="@string/intent_add_feed" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="*" />
                <data android:pathPattern=".*/feed" />
                <data android:pathPattern=".*/feed/" />
                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\.rss" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW"
                    android:label="@string/intent_add_feed" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="feeds.feedburner.com" />
                <data android:host="feedproxy.google.com" />
                <data android:host="feeds2.feedburner.com" />
                <data android:host="feedsproxy.google.com" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW"
                    android:label="@string/intent_add_feed" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/rss+xml" />
                <data android:mimeType="application/atom+xml" />
                <data android:mimeType="application/xml" />
            </intent-filter>
        </activity>

        <service
            android:name=".watchers.UpdaterService"
            android:enabled="true" />
        <service
            android:name=".watchers.FlattrQueueService"
            android:enabled="true" />
        <service android:name=".player.PlayerService" />

        <receiver
            android:name=".watchers.UpdateAlarmReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".player.MediaButtonReceiver"
            android:exported="false" >
        </receiver>
    </application>

</manifest>